@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.wrapper{
    @apply overflow-hidden flex flex-col h-screen w-full justify-center items-center bg-[url(/background.png)] bg-cover md:bg-[length:100%_100%] bg-center bg-no-repeat;
}
.contain{
    @apply  w-[96%] md:w-[75%] xl:w-[65%] 2xl:max-w-[60%]  3xl:w-[55%] 4xl:w-[45%] h-[550px] md:h-[550px] flex;
}
.heading{
    @apply text-[40px] font-black sm:text-[45px]  md:text-[50px] lg:text-[55px] 2xl:text-[66px] 4xl:text-[70px];
 }
 .title{
    @apply text-[30px] font-semibold sm:text-[33px] md:text-[35px] lg:text-[38px] 2xl:text-[42px] 4xl:text-[47px];
}
.sub-title{
    @apply text-[24px] font-bold sm:text-[28px] md:text-[30px] lg:text-[32px] 2xl:text-[35px] 4xl:text-[38px];
}
.des{
    @apply text-base font-medium sm:text-lg md:text-xl lg:text-[18px] 3xl:text-xl;
} 
.card {
    background: rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 33px;
}
.text{
    font-style: normal;
    /* identical to box height */  
    color: rgba(133, 64, 13, 0.5);
}

input::-webkit-input-placeholder {/* Chrome/Opera/Safari/Edge */
    color: rgba(133, 64, 13, 0.5);
}
